#Pingmu{
    background: #E0E0E0;
    height: 30px;
    margin-top: 50px;
    margin-left: 60px;
    text-align: center;
}
#Zuowei{
    margin-top: 60px;
    margin-left: 10px;
    float: left;
}
.div0{
    margin: 10px;
    width: 30px;
    height: 30px;
    background-color:black;
    border-radius: 6px;
    float: left;
    color: white;
    line-height: 30px;
    text-align: center;
}
.div1{
    margin: 10px;
    width: 30px;
    height: 30px;
    background-color:green;
    border-radius: 6px;
    float: left;
    color: white;
    line-height: 30px;
    text-align: center;
}
.div2{
    margin: 10px;
    width: 30px;
    height: 30px;
    background-color: white;
    float: left;
}
.div3{
    /*border-left: 1px solid;*/
    height: 500px;
    width: 300px;
    margin: 50px;
    float: left;
    /*padding-top: 200px;*/
    padding-left: 50px;
    background: #f0f0f0;
}
.div4{
    width: 66px;
    height: 50px;
    float: left;
    line-height: 56px;
    text-align: left;
}
.div5{
    display: block;
    width: 300px;
    height: 100px;
}
.div6{
    display: inline-block;
    width: 500px;
    height: 200px;
}
.img1{
    display: inline;
    float: left;
    margin-top: 20px;
}
.img2{
    display: inline;
    padding-left:30px;
    float: left;
    margin-top: 20px;
}
.img2 h3{
    margin: 0px;
}

/*button{*/
    /*width: 80px;*/
    /*height: 36px;*/
    /*border-radius: 4px;*/
    /*color: white;*/
    /*background-color: #ff8f1a;*/
/*}*/

.login-button {
    width: 170px; /* 宽度 */
    height: 40px; /* 高度 */
    border-width: 0px; /* 边框宽度 */
    border-radius: 3px; /* 边框半径 */
    background-color: #ff8f1a; /* 背景颜色 */
    cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
    outline: none; /* 不显示轮廓线 */
    font-family: Microsoft YaHei; /* 设置字体 */
    color: white; /* 字体颜色 */
    font-size: 17px; /* 字体大小 */
    margin-left: 30px;
    margin-top: 20px;
}
.login-button:hover { /* 鼠标移入按钮范围时改变颜色 */
    background: #ffd529;
}
.main {
	
}
